# 202108210133罗毅夫

In [2]:
import pandas as pd
ls = ['a','b','c','d']
s2 = pd.Series([10,20,30,10],index = ls)
print(s2.values)
print(s2.index)

[10 20 30 10]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
import numpy as np
dic = {'Python':20,'Java':19,'JavaScript':18,'C':13,'Cpp':14}
s3 = pd.Series(dic)
print(s3.index)
print(s3[3])
print(s3['Java':'C'])
print(s3[1:4])

Index(['Python', 'Java', 'JavaScript', 'C', 'Cpp'], dtype='object')
13
Java          19
JavaScript    18
C             13
dtype: int64
Java          19
JavaScript    18
C             13
dtype: int64

In [4]:
dic = {'城市':['北京','上海','广州','深圳','长沙'],
'人口(万)':[2171,2418,1090,1404,3372],
'GDP(万元)':[28000,30133,21500,22286,19530]
}

df = pd.DataFrame(dic,columns = ['城市','人口(万)','GDP(万元)'])

df1 = pd.DataFrame(dic)

df1

   城市  人口(万)  GDP(万元)
0  北京   2171    28000
1  上海   2418    30133
2  广州   1090    21500
3  深圳   1404    22286
4  长沙   3372    19530

In [5]:
df2 = pd.DataFrame(dic,index = ['r3','r2','r1','r5','r4'])
df2

    城市  人口(万)  GDP(万元)
r3  北京   2171    28000
r2  上海   2418    30133
r1  广州   1090    21500
r5  深圳   1404    22286
r4  长沙   3372    19530

In [6]:
df = df.set_index(['城市'])
print(df)

    人口(万)  GDP(万元)
城市
北京   2171    28000
上海   2418    30133
广州   1090    21500
深圳   1404    22286
长沙   3372    19530

In [7]:
df = df.reindex(['上海','北京','深圳','广州','长沙'])
print(df)

    人口(万)  GDP(万元)
城市
上海   2418    30133
北京   2171    28000
深圳   1404    22286
广州   1090    21500
长沙   3372    19530

In [8]:
display(df[0:1])

    人口(万)  GDP(万元)
城市
上海   2418    30133

In [9]:
display(df['北京':'广州'])

    人口(万)  GDP(万元)
城市
北京   2171    28000
深圳   1404    22286
广州   1090    21500

In [10]:
df.loc['北京']

人口(万)       2171
GDP(万元)    28000
Name: 北京, dtype: int64

In [16]:
df.loc['北京':'深圳','GDP(万元)':'人口(万)']
df.iloc[1:3,0:2]

    人口(万)  GDP(万元)
城市
北京   2171    28000
深圳   1404    22286

In [21]:
df.at['长沙','人口(万)']
print(df.iat[4,0])

3372